
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: 'Open Sans', sans-serif;
}

.container_1{
  max-width: 1000px;
  margin: auto;
}


.navbar {
  position: relative;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar img{
  cursor: pointer;
  width: 40px;
}

.nav-menu {
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  background-image: url("./images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-color: var(--very-dark-violet);
  background-position: bottom 0 right 0;
  flex-basis: 100%;
  height: 80vh;
  padding: 1rem 0 0 0;
  z-index: 10;
  list-style: none;
}

.navbar a {
  font-weight: 500;
  color: #EF5454;;
  font-size: 25px;
  text-decoration: none;
}

.hide {
  display: none;
}

.nav-menu li {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  letter-spacing: 1.5px;
}

.nav-menu li a{
  font-size: 1rem;
  color: white;
  background-color: tomato;
  width: 200px;
  border-radius: 20px;
  border-radius: none;
}

@media (min-width: 768px) {
  .flex-row {
      flex-wrap: nowrap;
  }

  .menu-toggler {
      visibility: hidden;
  }

  .nav-menu {
      display: inline-block;
      background: var(--very-light-gray);
      flex-basis: auto;
      height: auto;
      padding-top: 0;
      position: static;
      width: auto;
  }

  .nav-menu li {
      display: inline-block;
      /* padding: 0.5rem 0.7rem; */
  }
}




.main_content {
  background-image: url('./images/bgimage3.jpg');
  background-size: cover;
}

.main_content_1{
  padding: 40px;
}

.main_content_1_1{
  width: 717px;
}

.main_content_1_1 h3{
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 40px;

  /* width: 275px; */
  /* background: blue; */
}

.main_content_1_1 h1{
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 30px;
}

.main_content_1_1 h1 span{
  color: tomato;
}

.main_content_1_1 p {
  color: white;
  font-size: 20px;
  max-width: 650px;
}

.main_content_1_1 button{
  font-size: 20px;
  font-weight: 600;
  background-color: tomato;
  width: 350px;
  border-radius: 20px;
}

.main_content_1_2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_content_1_2 video{
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

.main_content_1_2 div div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.main_content_1_2 div div h6{
  max-width: 300px;
  color: white;
}

.main_content_1_2 div div button{
  background-color: black;
  color: white;
  width: 200px;
  font-size: 15px;
  border-radius: 30px;
  border: none;
}

#remove_1{
  display: block;
}

#remove_2{
  display: none;
}



@media (min-width: 768px) {

  .main_content_1_1 h3{
      padding-top: 100px;
  }    
}
@media (min-width: 1400px) {

  #remove_1{
    display: none;
  }

  #remove_2{
      display: block;
  }    
}







.know-more{
  margin-top: 50px;
}

.know-more_1{
  text-align: center;
  font-style: italic;
  color: gray;
  margin-bottom: 20px;
}

.know-more_2{
  text-align: center;
}

.know-more_2 a{
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  padding-top: 3px;

  display: inline-block;
  background: black;
  width: 150px;
  height: 30px;
  
}

.know-more_2 i {
  margin-left: 10px;
  background: white;
  color: black;
  width: 15px;
  border-radius: 10px;
}

@media (min-width: 997px) {

  .know-more_1{
      text-align: right;
  }  
}





.color_heading{
  color: gray;
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
}

.color_tomato{
  color: tomato;
}



.smartphone_container{
  position: relative;
}

.row_1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.smartphone1 {
  position: relative;
  width: 240px;
  height: 500px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-radius: 36px;
  display: inline-block;
  margin-top: 50px;

  
  
  margin: 50px;

}

.smartphone1 img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.smartphone2 {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 420px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-radius: 36px;


  top : 90px;
  left: 200px;
}

.smartphone2 img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.smartphone_content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.smartphone_content_extra{
  position: relative;
  
}


.smartphone_content_1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: gray;
  top: 140px;
  right: 40px;

  transition: 0.5s;
  transform: rotatex(180deg);
  transform-origin: top;
}



.smartphone_content_2{
  max-width: 400px;
  padding: 50px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  line-height: 25px;
  word-spacing: 5px;
  margin-top: 100px;
  border: 2px solid rgb(247, 247, 247);

  background: white;
  color: gray;

  transition: 0.5s;
}

/* .smartphone_content_1:hover{
  height: 10px;
  background-color: white;
  
}

.smartphone_content_1:hover + .smartphone_content_2{
  color: white;
  background-color: grey;
} */

.smartphone_content_2:hover{
  color: white;
  background-color: grey;
}

.smartphone_content_2:hover + .smartphone_content_1{
  height: 5px;
  background-color: white;
}

@media (min-width: 997px) {

  .row_1{
      flex-direction: row;
  }  
  .smartphone_content_2{
    margin-left: 100px;
  }
}





.range_upper{
  margin: auto;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 500px;
  border-left:   5px solid gray;
  border-bottom: 5px solid gray;
}

.range_content{
  display: flex;  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

.range{
  margin-top: 100px;
  height: 50px;
  max-width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 0 65px 0 45px;
}


/* .sliderValue{
  position: relative;
  width: 100%;
} */

/* .sliderValue span{ */
  /* text-align: center;
  position: absolute;
  height: 45px;
  width: 45px;
  transform: translateX(-50%);
  font-weight: 500;
  top: 60px;
  left: 2px;
  line-height: 55px;
  z-index: 2; */
  /* border: 2px solid gray; */
  /* color: #fff; */
  /* transform-origin: bottom; */
  /* transition: transform 0.3s ease-in-out; */
/* } */


/* .sliderValue span.show{
  transform: translateX(-70%) scale(1);
} */


/* .sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: red;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
} */

.field{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.field .value{
  position: absolute;
  font-size: 18px;
  color: black;
  font-weight: 600;
}

.field .value.left{
  left: -30px;
}
.field .value.right{
  right: -53px;
}

.range input{
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #ef5454;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ef5454;
  cursor: pointer;
}

.range input::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ef5454;
  cursor: pointer;
}

.range input::-moz-range-progress{
  background: #fff;
  border: 1px solid #ef5454;
}



.field_content{
  margin-top: 20px;
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.sliderValue{
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  border: 2px solid gray;

}

.field_content h6{
  font-size: 20px;
  text-align: left;
}

.range_outcome{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}

.range_outcome_1{
  text-align: right;
  color: gray;
  margin-left: auto;
}

.range_outcome_2{
  color: tomato;
  margin-left: 50px;
  width: 200px;
}

@media (min-width: 997px) {
  .range_content{
      flex-direction: row;
  }
  .range_upper{
    width: 1000px;
  }  
}




.button_container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}

#button_3 {
  border-radius: 20px;
  width: 250px;
  background: black;
  margin-bottom: 20px;
}
#button_3 span {
  color: white;
  font-weight: 500;
  font-size: 22px;
}

#button_4 {
  border-radius: 20px;
  width: 250px;
  background: tomato;
}
#button_4 span {
  color: white;
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {
  .button_container{
      flex-direction: row;
  }  

  #button_3{
    margin-bottom: 0;
  }
}



#carouselExampleControls1, #carouselExampleControls2{
 max-width: 600px;
 position: relative;
}

.car1, .car2 {
  display: flex;
  justify-content: center;
  align-items: center;

}

.carau1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.carau1 img {
  width: 150px;
  height: 200px;
}

._content {
  max-width: 400px;
  margin-left: 50px;
}

._content h5 {
  margin-top: 0;
}

._content h5 span{
  color: tomato;
}

._content p {
  margin-top: 20px;
  margin-left: 20px;
}

#carouselExampleControls2{
  margin-top: 100px;
}

.carousel-control-prev i, .carousel-control-next i{
  position: absolute;
  color:  white;
  background-color: tomato;
  width: 30px;
  height: 30px;
  padding-top: 6.5px;
  border-radius: 50%;
  
}

.carousel-control-prev i{
  left: 150px;
  top: 160px;
}

.carousel-control-next i{
  top: 160px;
  right: 0px
}





#cont_4{
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}
#cont_4 h2{
  text-align: center;
  font-size: 30px;
  color: gray;
  font-weight: 700;
  margin: 40px 15px;
}

#cont_4 span{
  color: tomato;
}

.text_button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#button_1 {
  border-radius: 20px;
  width: 200px;
  background: black;
  margin-bottom: 20px;
}

#button_1 span {
  color: white;
  font-weight: 500;
  font-size: 22px;
}

#button_2 {
  border-radius: 20px;
  width: 200px;
  background: tomato;
}

#button_2 span {
  color: white;
  font-weight: 700;
  font-size: 22px;
}

@media (min-width: 768px) {

  .text_button{
      flex-direction: row;
  } 
  #button_1{
    margin-bottom: 0;
  } 
}




.footer{
  background: rgba(34, 26, 26, 0.877);
  padding: 60px 60px;
  color: white;
}

.footer h1{
  color: tomato;
  font-weight: 700;
}

#footer-links{
  padding-top: 20px;
  padding-left: 20px;
}

.links{
  font-weight:700;
  font-size: 18px;
  color: white;
  margin-bottom: 5px;
}

.links a{
  color: white;
}

#footer_social_media{
  margin-top: 60px;
}

#footer_social_media p{
  font-weight:700;
  font-size: 18px;
}

#footer_social_media a{
  margin: 10px;
}



@media (min-width: 992px) {
  nav .container button{
      background: blue;
      float:right;
  }
}

